:root{
  --grid-columns: 1fr 200px 824px 1fr;
}

body{
  margin: 0;
  font-family: sans-serif;
}

header{
  background-color: blue;
  grid-area: header;
}



.grid{
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: 200px;
  grid-template-areas:
  "wrapper-start header header wrapper-end"
  "wrapper-start phone content wrapper-end";
}

.phone{
  background: papayawhip;
  aspect-ratio: 9 / 16;
  inline-size: 200px;
  grid-area: phone;

  position: sticky;
  inset-block-start: 0;
}

.hero{
  background-color:peachpuff;
  grid-column: 1 / -1;
  grid-row-start: 2;
  /* grid-template-columns: subgrid; */
  display: grid;

  grid-template-columns: subgrid;
}

.hero-content{
  grid-row-start: 1;
  grid-column: 3;
}

@supports not ( grid-template-columns: subgrid){
  .hero{
    grid-template-columns: var(--grid-columns);
  }
}




section{
  grid-column: 1  / -1;

  height: 50vh;
  border: 1px dashed black;
  counter-increment: section;

  display: flex;
  justify-content: center;
  align-items: center;
}

section:before{
  content: counter(section);
  font-size: 2rem;

}

