.calendarDay{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center ;
  position:sticky;
  inset-block-start: 0;
  margin: 0;
  border-block-end: 1px solid currentColor;
  background: var(--white);
}

.calendarDay a{
  color: currentColor;
  text-decoration: none;
  outline: none;
}

.calendarDay.is-selected span:nth-of-type(1){
  color: var(--blue10);
}
.calendarDay.is-selected span:nth-of-type(2){
  background: var(--blue10);
  color: var(--white);
}

.calendarDay.is-selected a:hover span:nth-of-type(2),
.calendarDay.is-selected a:focus span:nth-of-type(2){
   background: var(--blue30);
   /* opacity: .9; */
}



.calendarDay  span:nth-of-type(1){
  font: var(--body1-medium);
}
.calendarDay span:nth-of-type(2){
  font: var(--subtitle-subtitle1);
  inline-size: 2.75rem;
  line-height: 2.75rem;
  border-radius: 50%;
  display: inline-block;
  /* vertical-align: middle; */
}

.calendarDay a:hover span:nth-of-type(2),
.calendarDay a:focus span:nth-of-type(2){
  background:var(--gray10);
}


.calendarDay::before{
  content: "";
  position: absolute;
  inline-size: 1px;
  block-size: 1.7rem;
  background:currentColor;
  inset-block-end: 0;
  inset-inline-start: 0;
}

