:root{
  --block-size: 100vh;
  --inlineSizeSidebar: 16.25rem;
  --blockSizeHeader: 6rem;
  --minInlineSize: 55rem;
}


.page{
  display: grid;
  block-size: var(--block-size);
  grid-template-columns: var(--inlineSizeSidebar) minmax(var(--minInlineSize), 1fr);
  grid-template-rows: var(--blockSizeHeader) minmax(var(--minInlineSize), 1fr);
  grid-template-areas:
  "header header"
  "sidebar main";
  /* box-sizing: border-box; */
  /* height: 100vh; */
}

.page .header{
  grid-area: header;

}

.page .sidebar{
  /* border: 1px solid yellow; */
  grid-area: sidebar;

  block-size: calc(var(--block-size) - var(--blockSizeHeader));
  /* padding-inline: 1.5rem; */
}

.page .calendar{
  /* border: 1px solid black; */
  grid-area: main;
  position: relative;
  block-size: calc(var(--block-size) - var(--blockSizeHeader));

}

