.select{
  font: var(--button-button);
  color: var(--gray30);
  border-radius: .25rem;
  background: none;
  padding-inline: .75rem;
  padding-block:.5rem;
  padding-inline-end: 2rem;
  border:1px solid var(--gray20);
  cursor: pointer;

  appearance: none;
  background-image: url(../icons/arrown-down.svg);
  background-repeat: no-repeat;
  background-position: 80% center

}


