<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Instagram</title>
</head>
<body>

  <div class="wrapper">
    <div class="grid">
      <div class="post">
        <img src="http://place-puppy.com/300x500" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x350" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x340" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x600" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x460" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x310" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x330" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x360" alt="Placeholder Puppy">
      </div>
      <div class="post">
        <img src="http://place-puppy.com/300x396" alt="Placeholder Puppy">
      </div>
    </div>
  </div>

</body>
</html>