<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homer's Web Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <img src="./images/header.png" alt="">
  <div class="container">
    <img class="homero-reloj" src="./images/reloj.gif" alt="">
    <img class="homero-reloj-1" src="./images/reloj.gif" alt="">
    <img class="homero-reloj-2" src="./images/reloj.gif" alt="">
    <img class="homero-reloj-3" src="./images/reloj.gif" alt="">
    <img class="homero-tostadora-1" src="./images/tostadora.gif" alt="">
    <img class="homero-tostadora-2" src="./images/tostadora.gif" alt="">
    <img class="homero-tostadora-3" src="./images/tostadora.gif" alt="">
    <img class="homero-tostadora-4" src="./images/tostadora.gif" alt="">
    <img class="homero-campana-1" src="./images/campana.gif" alt="">
    <img class="homero-campana-2" src="./images/campana.gif" alt="">
    <img class="homero-gusano-1" src="./images/gusano.gif" alt="">
    <img class="homero-gusano-2" src="./images/gusano.gif" alt="">
    <img class="homero-boca-1" src="./images/boca.gif" alt="">
    <img class="homero-boca-2" src="./images/boca.gif" alt="">
    <img class="homero-dios" src="./images/dios.gif" alt="">
  </div>

</body>
</html>